.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: toRem(10) 0;
    @include adaptiveValue("min-height", 114, 72);
    // @include adaptiveValue("column-gap", 76, 12, 0, $containerWidth, 991.98);
  }

  &__menu {
  }

  &__action {
  }
}
.menu {
  &__body {
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: toRem(4);
    @include adaptiveValue("column-gap", 32, 20, 0, $containerWidth, 767.98);
  }

  &__item {
  }

  &__link {
  }
}
.action-header {
  &__item {
  }
}
