[class*="_icon-"]::before {
	display: inline-block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-t-shirt:before {
	content: "\e800";
} /* '' */
._icon-ch-left-test:before {
	content: "\e801";
} /* '' */
._icon-ch-right-test:before {
	content: "\e802";
} /* '' */
._icon-email:before {
	content: "\e803";
} /* '' */
._icon-icon-close:before {
	content: "\e804";
} /* '' */
._icon-location:before {
	content: "\e805";
} /* '' */
._icon-phone:before {
	content: "\e806";
} /* '' */
._icon-s-facebook:before {
	content: "\e807";
} /* '' */
._icon-s-instagram:before {
	content: "\e808";
} /* '' */

//пример
// ._icon-star:before {
// 	content: "\e914";
// }
