@import url("fonts.css");

@import url("reset.css");

.wrapper {
  overflow: clip;
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #7d7d7d;
}

.title-header {
  font-family: "DM Serif Text", serif;
  font-size: 55px;
  color: #cecece;
  text-align: center;
  padding: 40px 0;
  text-shadow: 5px 6px 7px #0e333d;
  line-height: 1.2;
  box-shadow: inset 0px 0px 40px 40px rgba(150, 146, 146, 0.1);
}

[class*="__container"] {
  max-width: 1650px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  position: relative;
}

.video-link {
  position: absolute;
  top: 110px;
  right: 5%;
  padding: 20px;
  font-size: 30px;
  background-color: #1a43d1;
  border-radius: 40px;
  border: 2px solid #fff;
  color: #000;
  transition: all 0.3s;
  font-weight: 800;
  text-align: center;
}

.video-link:focus {
  outline: 2px solid #000;
}

.video-link:hover {
  background-color: #03a9f4;
}

.interactive {
  padding: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  flex-direction: column;
  background-color: #2a455a;
  border-radius: 10px;
  row-gap: 20px;
  border: 2px solid #fff;
}

@media (max-width: 991.98px) {
  .video-link {
    top: auto;
    bottom: 40px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 290px;
  }
  .interactive {
    padding: 10px;
  }
}

@media (max-width: 550px) {
  .interactive {
    border-radius: 0px;
    top: 0px;
    left: 0px;
  }
}

.interactive-title {
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.interactive-switches {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.switch-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  padding: 0 2px;
  flex: 0 1 50%;
}

.switch-item:has(input:focus-visible) {
  outline: 0.125rem solid #000;
  border-radius: 10px;
}

.switch-name {
  text-align: center;
  flex-grow: 1;
  color: #03a9f4;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 122px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------------------------------------ */

.car {
  padding: 280px 0 175px 0;
  background:
    url("../img/dekor-bg-4.webp") center / 100% 100% no-repeat,
    #19191d;
  overflow-x: scroll;
}

.car__container {
  font-size: 0;
  text-align: center;
}

.car-body {
  display: inline-block;
  width: 1260px;
  min-height: 445px;
  padding: 0 50px 0 50px;
  /* animation: car-work 0.4s ease infinite; */
}

@keyframes car-work {
  0% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}

.car-top {
  width: 670px;
  height: 140px;
  font-size: 0;
  position: relative;
}

.car-top--position {
  left: 183px;
}

.car-top__left {
  display: inline-block;
  width: 385px;
  height: 140px;
  background-color: #2641e6;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
  position: relative;
  overflow: hidden;
}

.car-top__left::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 4px;
  left: 21px;
  background: url("../img/dekor-3.webp") 0 0 / cover no-repeat;
}

.car-top__right {
  display: inline-block;
  width: 285px;
  height: 140px;
  background-color: #2641e6;
  border-radius: 27% 73% 100% 0% / 0% 100% 0% 100%;
  position: relative;
  overflow: hidden;
}

.car-top__left::before,
.car-top__right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background-color: #6b83f1;
}

.driver-window {
  display: inline-block;
  position: relative;
  border-radius: 66% 34% 100% 0% / 0% 93% 0% 100%;
  background-color: transparent;
  border: 6px solid #1b1818;
  border-bottom: none;
  background:
    url("../img/profile-man.webp") left bottom / contain no-repeat,
    #a5d2e9;
  cursor: pointer;
}

.car-top__window-driver {
  position: absolute;
  bottom: 0;
  right: 46px;
}

.driver-window::before {
  content: "";
  width: 10px;
  height: 40px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 25px;
  background-color: #070906;
  transform: skew(336deg);
  border-radius: 10px 30px 0 0;
}

.driver-window__item {
  width: 184px;
  height: 92px;
  border-radius: 66% 34% 100% 0% / 0% 93% 0% 100%;
  background-color: #61c9e6;
  opacity: 0.9;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  transform: translate(0, 15px);
}

.driver-window:hover .driver-window__item,
.active .driver-window__item {
  transform: translate(0, 80px);
}

.driver-window__item::before,
.passenger-window__item::before,
.back-window::before {
  content: "";
  width: 17px;
  height: 115px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 22px;
  background-color: #b8f0ff;
  transform: skewX(-30deg);
}

.driver-window__item::after,
.passenger-window__item::after,
.back-window::after {
  content: "";
  width: 50px;
  height: 115px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 57px;
  background-color: #b8f0ff;
  transform: skewX(-30deg);
}

.passenger-window {
  display: inline-block;
  background-color: #61c9e6;
  border-radius: 30px 0 0 0;
  border: 6px solid #1b1818;
  background:
    url("../img/img-girl.webp") left bottom / contain no-repeat,
    url("../img/flowers.webp") 69px 35px / 130px 130px no-repeat,
    #a5d2e9;
  border-bottom: none;
  cursor: pointer;
}

.car-top__window-passenger {
  position: absolute;
  bottom: 0;
  right: 266px;
}

.passenger-window:hover .passenger-window__item,
.active .passenger-window__item {
  transform: translate(0, 80px);
}

.passenger-window__item {
  width: 187px;
  height: 93px;
  opacity: 0.9;
  background-color: #61c9e6;
  border-radius: 30px 0 0 0;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.back-window {
  width: 105px;
  height: 70px;
  border-radius: 100% 0% 57% 43% / 77% 100% 0% 23%;
  background-color: #61c9e6;
  position: relative;
  overflow: hidden;
}

.car-top__window-back {
  position: absolute;
  bottom: 16px;
  left: 76px;
}

.car-middle {
  display: inline-block;
  width: 1160px;
  height: 20px;
  background-color: transparent;
  border-radius: 37px 30px 0 0;
  position: relative;
  font-size: 0;
}

.car-middle > *:not(:last-child) {
  margin-right: 3px;
}

.trunk-car {
  display: inline-block;
  width: 180px;
  height: 20px;
  border-radius: 37px 0 0 0;
  cursor: pointer;
  position: relative;
}

.trunk-car::before {
  content: "";
  width: 171px;
  height: 171px;
  position: absolute;
  bottom: -153px;
  left: 12px;
  background-color: #282530;
  border-radius: 50%;
}

.trunk-car:hover .trunk-car__item,
.active .trunk-car__item {
  transform: rotate(50deg);
}

.trunk-car__item {
  width: 100%;
  height: 100%;
  background-color: #6b82f2;
  border-radius: 37px 0 0 0;
  transition: all 0.3s;
  transform-origin: 100% 0;
  position: relative;
  pointer-events: none;
}

.dekor-middle-car {
  display: inline-block;
  width: 670px;
  height: 20px;
  background-color: #6b82f2;
}

.car-bonnet {
  width: 304px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 0 10px 0 0;
  position: relative;
}

.car-bonnet::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 130px;
  background: url("../img/motor.webp") center / cover no-repeat;
}

.car-bonnet:hover .car-bonnet__item,
.active .car-bonnet__item {
  transform: rotate(-30deg);
}

.car-bonnet__item {
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
  background-color: #6b82f2;
  border-radius: 0 10px 0 0;
  transition: all 0.3s;
  position: relative;
  pointer-events: none;
}

.car-bonnet__item::before {
  content: "";
  width: 9px;
  height: 18px;
  position: absolute;
  bottom: -18px;
  right: 14px;
  background-color: #292a2e;
  border-radius: 0% 100% 5px 100% / 0% 0% 100% 100%;
}

.car-bonnet__item::after {
  content: "";
  width: 5px;
  height: 30px;
  position: absolute;
  left: 55px;
  top: 21px;
  background-color: #070906;
  transform: skew(-40deg);
}

.car-body-bottom {
  display: inline-block;
  position: relative;
  font-size: 0;
}

.car-body-bottom__left {
  width: 0px;
  height: 200px;
  display: inline-block;
  border-bottom: 30px solid transparent;
  border-right: 420px solid #2742e7;
  border-radius: 0 0 0 41%;
  position: relative;
}

.car-body-bottom__left::before {
  content: "";
  width: 340px;
  height: 170px;
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 3px;
  background:
    url("../img/dekor-1.webp") 40px 70px / 100px 100px no-repeat,
    url("../img/dekor-2.webp") 260px 7px/ 80px 80px no-repeat,
    url("../img/dekor-11.webp") 30px 9px / 60px 40px no-repeat;
}

.car-body-bottom__right {
  display: inline-block;
  width: 740px;
  height: 200px;
  background-color: #2742e7;
  box-shadow:
    inset 0px -20px 0px 0px #192da0,
    inset 0px -50px 0px 0px #212cb9;
  border-radius: 0 5px 123px 0;
  position: relative;
}

.car-body-bottom__right::before {
  content: "";
  width: 740px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 9px;
  background:
    url("../img/dekor-7.webp") 676px 17px / 50px 50px no-repeat,
    url("../img/dekor-8.webp") -16px -40px / 470px 300px no-repeat,
    url("../img/dekor-9.webp") 450px 3px / 50px 50px no-repeat;
}

.front-fender__item {
  width: 293px;
  height: 143px;
  background-color: #6c82ef;
  border-radius: 76% 24% 0% 100% / 100% 55% 45% 0%;
}

.fender__front {
  position: absolute;
  bottom: 0;
  right: 47px;
}

.back-fender__item {
  width: 290px;
  height: 100px;
  background-color: transparent;
  border-radius: 100px 100px 0 0;
  border-top: 38px solid #6982f6;
  border-right: 31px solid #6982f6;
  border-left: 28px solid #6982f6;
  border-bottom: transparent;
  transform-origin: 100% 0;
  transform: rotate(4deg);
}

.fender__back {
  position: absolute;
  bottom: 0px;
  left: 150px;
  z-index: 2;
}

.front-shadow-fender__item {
  width: 231px;
  height: 124px;
  background-color: #070906;
  border-radius: 78% 22% 0% 100% / 100% 39% 61% 0%;
}

.fender-shadow__front {
  position: absolute;
  bottom: 0;
  right: 77px;
}

.back-shadow-fender__item {
  width: 248px;
  height: 72px;
  background-color: #070906;
  border-radius: 60px 30px 0 0;
  transform-origin: 100% 0;
  transform: rotate(4deg);
}

.fender-shadow__back {
  position: absolute;
  left: 163px;
  bottom: 1px;
}

.front-bumper__item,
.back-bumper__item {
  width: 79px;
  height: 73px;
  background-color: #e7dddb;
  border-radius: 20px;
  box-shadow: inset 0px -20px 1px -3px #b5b0ac;
}

.front-bumper,
.back-bumper {
  display: inline-block;
  position: relative;
}

.bumper__front {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.front-bumper::before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 4px;
  right: 6px;
  background: url("../img/dekor-5.webp") 0 0 / cover no-repeat;
  transform: scale(-1, 1);
}

.bumper__back {
  position: absolute;
  bottom: 35px;
  left: -47px;
}

.back-bumper::before {
  content: "";
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: 17px;
  right: 12px;
  background: url("../img/dekor-4.webp") 0 0 / cover no-repeat;
}

.front-decor-door__item,
.back-decor-door__item {
  width: 0;
  height: 88px;
  border-bottom: 50px solid transparent;
  border-left: 195px solid #2836d5;
}

.door-decor__front {
  position: absolute;
  top: 0;
  left: 390px;
}

.door-decor__back {
  position: absolute;
  top: 0;
  right: 355px;
}

.front-handle,
.back-handle {
  cursor: pointer;
}

.front-handle__item,
.back-handle__item {
  width: 58px;
  height: 18px;
  background-color: #f0c2c2;
  border-radius: 5px;
  box-shadow: inset 0px -10px 0px -3px #3e27b6;
  transition: all 0.3s;
  transform-origin: 0 0;
}

.handle__front {
  position: absolute;
  top: 14px;
  right: 485px;
}

.front-handle:hover .front-handle__item {
  transform: rotateX(60deg);
}

.handle__back {
  position: absolute;
  top: 14px;
  left: 397px;
}

.back-handle:hover .back-handle__item {
  transform: rotateX(60deg);
}

.back-decor {
  width: 25px;
  height: 76px;
  background-color: #1a43d1;
  border-radius: 15px 0 0px 0px;
}

.back-decor--position {
  position: absolute;
  left: -24px;
  top: 16px;
}

.front-light {
  cursor: pointer;
  display: inline-block;
  font-size: 0;
}

.front-light--position {
  position: absolute;
  top: 0;
  right: -27px;
}

.front-light:hover .front-light__glass,
.active .front-light__glass {
  box-shadow: 46px 0px 73px 50px #f3ddb0;
}

.front-light__base {
  display: inline-block;
  width: 12px;
  height: 81px;
  background-color: #b7b2af;
  box-shadow: inset 0px -35px 1px -3px #a79d9c;
}

.front-light__glass {
  display: inline-block;
  width: 15px;
  height: 81px;
  border-radius: 0% 100% 100% 0% / 100% 54% 46% 0%;
  background-color: #ffcc61;
  transition: all 0.3s;
}

.back-light {
  width: 20px;
  height: 34px;
  border-radius: 9px 7px 7px 9px;
  background-color: #a50811;
  transition: all 0.3s;
  cursor: pointer;
}

.back-light--position {
  position: absolute;
  top: 58px;
  left: -36px;
}

.back-light:hover,
.active.back-light {
  box-shadow: -28px 0px 67px 35px #a50811;
}

.fuel-cap {
  width: 44px;
  height: 38px;
  display: inline-block;
  cursor: pointer;
}

.fuel-cap--position {
  position: absolute;
  top: 30px;
  left: 135px;
  z-index: 1;
}

.fuel-cap__body {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 400px;
}

.fuel-cap__front,
.fuel-cap__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.9s;
  border-radius: 10px;
}

.fuel-cap__front {
  transform-origin: 100% 100%;
  backface-visibility: hidden;
  background-color: #1d34b8;
  background:
    url("../img/dekor-12.webp") 5px 2px / 35px 31px no-repeat,
    #1d34b8;
}

.fuel-cap__back {
  transform-origin: 100% 100%;
  background:
    url("../img/dekor-6.webp") center / 33px 33px no-repeat,
    #1d34b8;
}

.fuel-cap__body:hover .fuel-cap__back,
.active .fuel-cap__back {
  transform: rotateY(140deg);
}
.fuel-cap__body:hover .fuel-cap__front,
.active .fuel-cap__front {
  transform: rotateY(140deg);
}

.fuel-cork {
  width: 44px;
  height: 38px;
  background-color: #1d34b8;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.fuel-cork--position {
  position: absolute;
  top: 30px;
  left: 135px;
}

.fuel-cork::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  top: 6px;
  background-color: #1b2a9f;
  border-radius: 50%;
}

.wheel {
  width: 171px;
  height: 171px;
  border-radius: 50%;
  background-color: #282530;
  cursor: pointer;
}

.wheel--front {
  position: absolute;
  bottom: -83px;
  right: 93px;
}

.wheel--back {
  position: absolute;
  bottom: -83px;
  left: 200px;
}

.wheel:hover.wheel {
  transform: rotate(360deg);
  transition: all 1s;
}

.wheel__tire-decor {
  margin: 0 auto;
  width: 115px;
  height: 115px;
  border: 18px solid #5c565a;
  border-radius: 50%;
  position: relative;
  top: 28px;
}

.wheel__disk {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e5e2dd;
}

.wheel__bolt {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #b1aca8;
  position: absolute;
}

.wheel__bolt--1 {
  top: 6px;
  left: 34px;
}
.wheel__bolt--2 {
  top: 26px;
  left: 9px;
}
.wheel__bolt--3 {
  top: 26px;
  right: 9px;
}
.wheel__bolt--4 {
  bottom: 12px;
  left: 18px;
}
.wheel__bolt--5 {
  bottom: 12px;
  right: 18px;
}

.wheel__hub {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #28252c;
  position: relative;
  top: 27.5px;
}

.hover-car {
  @media (min-width: 991.98px) {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "DM Serif Text", serif;
    font-size: 70px;
    letter-spacing: 2px;
    color: #b2b5db;
  }
}

.footer p {
  text-align: center;
  padding: 50px 0;
}
