[class*="_icon-"]::before {
	display: inline-block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-email:before {
	content: "\e900";
}
._icon-icon-close:before {
	content: "\e901";
}
._icon-location:before {
	content: "\e902";
}
._icon-phone:before {
	content: "\e903";
}
._icon-s-facebook:before {
	content: "\e904";
}
._icon-sh-left:before {
	content: "\e905";
}
._icon-sh-right:before {
	content: "\e906";
}
._icon-s-instagram:before {
	content: "\e907";
}

//пример
// ._icon-star:before {
// 	content: "\e914";
// }
