@import url("fonts.css");

@import url("reset.css");

.game {
  padding: 20px 0;
}

.game-title {
  font-family: "DM Serif Text", serif;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #6977f3;
}

.game-box {
  width: 800px;
  height: 750px;
  background-color: #e3e3e3;
  margin: 0 auto;
  font-size: 0;
}

.game-box > :not(.line10) {
  background-color: #61b1c7;
}

.game-box p {
  font-size: 50px;
  text-align: center;
  color: rgb(0, 17, 255);
}

.line2,
.line3,
.line4,
.line7,
.line8,
.line9,
.line10 {
  overflow: hidden;
}

.line1 {
  width: 50px;
  height: 50px;
}

.line2 {
  width: 50px;
  height: 50px;
  border-radius: 47%;
}

.line3 {
  width: 500px;
  height: 50px;
  border-radius: 7% 93% 8% 92% / 48% 48% 52% 52%;
}

.line4 {
  width: 20px;
  height: 200px;
  margin-left: 450px;
  border-radius: 56% 44% 15% 85% / 0% 55% 45% 100%;
}

.line5 {
  width: 300px;
  height: 30px;
  margin-left: 450px;
}

.line6 {
  width: 30px;
  height: 50px;
  margin-left: 720px;
}

.line7 {
  width: 400px;
  height: 40px;
  border-radius: 11% 89% 96% 3% / 65% 0% 100% 35%;
  margin-left: 350px;
}

.line8 {
  width: 15px;
  height: 100px;
  margin-left: 350px;
  border-radius: 100% 0% 100% 0% / 43% 36% 64% 57%;
}

.line9 {
  width: 15px;
  height: 100px;
  margin-left: 350px;
  border-radius: 0% 100% 47% 53% / 43% 36% 64% 57%;
}

.line10 {
  width: 15px;
  height: 15px;
  margin-left: 350px;
  border-radius: 47%;
  background-color: red;
}

.line11 {
  width: 100%;
  height: 60px;
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-size: 55px;
  color: #40ddb6;
}

.line2,
.line3,
.line4,
.line5,
.line6,
.line7,
.line8,
.line9,
.line10,
.line11 {
  visibility: hidden;
}

.line1:hover,
.line1:hover ~ .line2,
.line2:hover,
.line2:hover ~ .line3,
.line3:hover,
.line3:hover ~ .line4,
.line4:hover,
.line4:hover ~ .line5,
.line5:hover,
.line5:hover ~ .line6,
.line6:hover,
.line6:hover ~ .line7,
.line7:hover,
.line7:hover ~ .line8,
.line8:hover,
.line8:hover ~ .line9,
.line9:hover,
.line9:hover ~ .line10,
.line10:hover,
.line10:hover ~ .line11,
.line11:hover {
  visibility: visible;
}
